.tokens-grid {
    width: 100%;
    font-family: 'Roboto';
    color: #FFF;
    border-collapse: collapse;
}

.tokens-grid thead th {
    padding: 0.75rem 1rem;
    text-align: left;
}

.tokens-grid tbody td {
    padding: 0.75rem 1rem;
    color: #CCC;
}

.tokens-grid tbody td:first-child {
    border-radius: 8px 0 0 8px;
}

.tokens-grid tbody img {
    width: 20px;
    height: 20px;
    max-width: 100%;
    display: inline-block;
}

.tokens-grid tbody td:last-child {
    border-radius: 0 8px 8px 0;
}

.tokens-grid tbody tr:nth-child(even) td {
    background: #444;
}
